*, *::before, *::after{
    box-sizing: border-box;
}
.back{
    background-color: hsl(229, 57%, 11%);
}
.parent{
    position: relative;
}
.centerDiv{
    position: absolute;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    border-top-right-radius: 50px;
    top: 250px;
    left: 500px;
    /* width: 250px;
    height: 150px; */
    padding: 20px;
    width: 200px;
    display: flex;
    align-items: left;
}
.secondCenterDiv{
    position: absolute;
    background-color: hsl(228, 56%, 26%);
    border-radius: 5px;
    top: px;
    left: 350px;
    width: 400px;
    height: 120px;
    margin-right: 30px;
    text-align: center;
    display: grid;
}
.img1{
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 299px;
}
.icon{
    background-color: hsl(229, 57%, 11%);
    padding: 10px;
    border-radius: 15px;
}
.header{
    color: white;
}
.progress-bar{
    position: relative;
    width: 300px;
    height: 3em;
    background-color: white;
    border-radius: 1.5em;
    color: rgb(116, 158, 251);
}
.progress-bar::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: 60%;
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-image: linear-gradient(to right,	#ffa399,#ff4d97);
    border-radius: 1em;
    padding: 1em;
}
